@import url("./Variables.css");

.personal-info {
  text-align: center;
  margin: 70px auto 120px auto;
}

.more-about {
  background-color: var(--bg-dark-color);
  width: 80%;
  margin: auto;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  font-size: 1.1rem;
  line-height: var(--line-height);
  padding: 0.4rem;
  text-align: justify;
}

#btnDownload {
  margin-top: 30px;
  width: 150px;
}

#btnDownload a {
  color: white;
}