@import url("./Variables.css");

.more-about {
    background-color: var(--bg-dark-color);
    padding: 1rem 0;
    width: 80%;
    margin: auto;
  }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }
