.footer{
    background-color: rgb(39, 59, 145);
    height: 100px;
    width: auto;
    color: aliceblue;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.name-footer{
    font-size: 2.5rem;
    font-weight: 600;
}

.icons-container{
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.icon-social-network{
    height: auto;
    width: auto;
    color: white;
}