/*css style project secition*/
.container-projects {
  margin: 120px auto 150px auto;
  text-align: center;
}

.projects {
  width: 90%;
  margin: 40px auto auto auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.title-projects {
  width: auto;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
