
@media screen and (max-width: 720px) {

  .nav-menu {
    /* padding: 1.5rem 1rem; */
    padding: 1.5rem 0;

  }

  .nav-menu ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    /* left: 10%; */
    
    width: 100%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  .nav-menu .name-link{
    margin-left: 20px;
  }

  .nav-menu .burger-menu{
    margin-right: 20px;
  }

  .nav-menu ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block !important;
  }

  .nav-menu ul.show {
    transform: translateX(0);
  }

  .hero {
    flex-direction: column;
    gap: 0;
    height: 500px;
    flex-direction: column-reverse;
    justify-content: space-evenly
  }

  .hero-img {
    height: 10rem;
    width: 30rem;
    margin: 1px auto;
  }

  .bio {
    margin: 10px auto 50px auto;
    width: 90%;
    height: auto;
    text-align: center;
  }

  .more-about {
    margin-top: 2rem;
    width: 90%;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }

  .MuiPagination-root {
    width: 90%;
  }

}

@media screen and (max-width: 480px) {

  .nav-menu {
    width: 100%;
  }

  .burger-menu {
    display: block;
  }

  .socials {
    bottom: 40%;
  }

  .hero-img {
    height: 100px;
    /* width: 23rem; */
    width: auto;
  }

  .bio {
    width: 90%;
  }

  .more-about {
    margin-top: 2rem;
    width: 90%;
  }

  .project-card {
    width: 85%;
  }

  .mascara {
    transform: translateX(400px);
  }

  .project-card:hover .mascara {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }

  .social-container{
    width: 90%;
  }

  .icons-container{
    width: 100%;
}

.icon-social-network{
   width: 100%;
}
}

