@media screen and (max-width: 720px) {

  .nav-menu {
    padding: 1.5rem 0;
  }

  .nav-menu h1,
  .nav-menu a {
    color: var(--primary-color);
  }

  .nav-menuColor h1,
  .nav-menuColor a {
    color: white;
  }

  .nav-menu ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 85px;
    width: 100%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  .nav-menuColor ul {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  }

  .nav-menu .name-link {
    margin-left: 30px;
  }

  .nav-menu .burger-menu {
    margin-right: 30px;
  }

  .nav-menu ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block !important;
  }

  .nav-menu ul.show {
    transform: translateX(0);
  }

  .hero {
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: space-evenly
  }

  .hero-img {
    height: 14rem;
    width: 32rem;
    margin: 1px auto;
  }

  .bio {
    margin: 10px auto 100px auto;
    width: 90%;
    text-align: center;
    height: 170px;
  }

  .bio-title{
    font-size: 2rem;
  }

  .bio-text{
    font-size: 1.2rem;
  }

  .more-about {
    margin-top: 2rem;
    width: 90%;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }

  .MuiPagination-root {
    width: 90%;
  }

  .icons-container {
    width: 150px;
    justify-content: space-between;
  }

  .project-card{
    flex: none;
  }

}

@media screen and (max-width: 480px) {

  .bio-title{
    font-size: 2rem;
  }

  .bio-text{
    font-size: 1rem;
  }

  .hero {
    height: 480px;
  }

  .nav-menu {
    width: 100%;
  }

  .burger-menu {
    display: block;
  }

  .socials {
    bottom: 40%;
  }

  .hero-img {
    height: 150px;
    width: auto;
  }

  .bio {
    width: 90%;
  }

  .more-about {
    margin-top: 2rem;
    width: 90%;
  }

  .project-card {
    width: 85%;
  }

  .mascara {
    transform: translateX(400px);
  }

  .project-card:hover .mascara {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }

  .social-container {
    width: 90%;
  }

  .icons-container {
    width: 100%;
  }

  .icon-social-network {
    width: 100%;
  }

  section:not(.personal-info, .hero){
    padding-top: 5.5rem;
  }
}