@import url("./Variables.css");

/* -------------skills--------------- */
.skills {
    max-width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
  }

  .skills-set{
    display: flex;
    justify-content: center;
  }
  
  .icon:hover{
    background-color: #8b8eaf;
    -webkit-transform:scale(1.2);
    transform:scale(1.2); /*!se expande la tarjeta */
    transition:all .2s ease-in-out;

  }

  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }