@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@300;400;700&display=swap');

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Taviraj', serif;
}

section:not(.hero){
  padding-top: 5rem;
}
